<div class="container">
  <h1 class = "text-white">New Dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="form-inputs text-white">
      <%= f.input :description %>
      <%= f.association :ingredient %>
    </div>
    <div class="form-actions">
      <%= f.submit "Add dose", class: "btn btn-warning m-3" %>
    </div>

  <% end %>
  <%= link_to "All cocktails", cocktails_path, class: "btn btn-success m-3"%>
</div>
